body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 1600px;
}

.message {
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

.img-circle {
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

.media-body {
    margin-left: 50%
}