@{
    ViewData["Title"] = "Lagerførende komponenter";
}
<br/>
<div class="row">
    <div class="col-md-12">
        <p>Dette er en opgave i ITTWEB hvor der skal fresmstilles en komponet oversigt, hvor man kan oprete og søge.</p>
    </div>
</div>
