<div class="col-xs-12 list-group-item">
  <div class="col-xs-12 col-sm-3">
    <strong>Exercise</strong>
  </div>
  <div class="col-xs-12 col-sm-3">
    <strong>Description</strong>
  </div>
  <div class="col-xs-12 col-sm-2">
    <strong>Sets</strong>
  </div>
  <div class="col-xs-12 col-sm-2">
    <strong>&nbsp; Reps</strong>
  </div>
  <div class="col-xs-12 col-sm-2">
    <strong>&nbsp; &nbsp; Rep type</strong>
  </div>
  <form class="form-horizontal" method="post">
    <div *ngIf="this.dataReady" >
    <div class="form-group" *ngFor="let workouts of this.numberOfExercises">
      <div class="col-xs-12 col-sm-3">
        <input class="input-sm" name="ExerciseName{{workouts}}" placeholder="squat" required="true" type="text">
      </div>
      <div class="col-xs-12 col-sm-3">
        <input class="input-sm" name="Description{{workouts}}" placeholder="Descripe your exercise" required="false" type="text">
      </div>
      <div class="col-xs-12 col-sm-2">
        <select class="form-control input-sm" name="numberOfSets{{workouts}}">
            <option *ngFor="let item of numberOfSets">
              {{item}}
            </option>
        </select>
      </div>
      <div class="col-xs-12 col-sm-2">
        <select class="form-control input-sm" name="numberOfReps{{workouts}}">
          <option *ngFor="let numbber of numberOfReps">
            {{numbber}}
          </option>
        </select>
      </div>
      <div class="col-xs-12 col-sm-2">
        <select class="form-control input-sm" name="repType{{workouts}}">
          <option *ngFor="let type of repType">
            {{type}}
          </option>
        </select>
      </div>
    </div>
    </div>
    <div class="col-xs-12">
      <p>&nbsp;</p>
      <div class="col-xs-12 col-sm-3">
        <input class="input-sm" name="workoutName" placeholder="Workout Title" required="true" type="text">
      </div>
      <div class="col-xs-12 col-sm-9">
        <button class="btn btn-primary btn-md" type="submit">Submit workout!</button>
      </div>
    </div>
  </form>
</div>
