
@{
    ViewBag.Title = "komponenter";
}

<h2>komponentkategori</h2>

<div class="container">
    <div class="col-md-4">
        <a asp-action="Create">Tilføj komponent</a>
    </div>

    <div class="col-md-4">
        <a asp-action="Remove"> Fjern komponent</a>
    </div>

    <div class="col-md-4">
        <a asp-action="Edit">Ændre komponent</a>
    </div>
</div>