@model WebApplication4.Models.Category

@{
    ViewBag.Title = "komponentkategori";
}

<h2>komponentkategori</h2>

<div class="container">
    <div class="col-md-4">
        <a asp-action="Create">Tilføj komponentkategori</a>
    </div>

    <div class="col-md-4">
        <a asp-action="Remove"> Fjern komponentkategori </a>
    </div>

    <div class="col-md-4">
        <a asp-action="Edit">Ændre komponentkategori</a>
    </div>
</div>