extends layout

block content
  h1 Power Progress
  p
   span(style='font-weight:bold') Welcome to Power Progress. Your way of making and tracking workouts!
  p
  | If this is your first time, you should start out by adding a workout! This can be done in the nav-bar or
  a( href="addworkout")  clicking here

  p
  | If you just finished a workout or need to check the next it can be done under the Tracking Workout tab or by
  a( href="trackworkout")  clicking here