
<div class="col-xs-12 list-group-item">
  <h4>sadsasa<small>&nbsp;</small>
    <span class="badge pull-right badge-default">1 Exercises</span>
  </h4>
  <a class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#fullworkoutsadsasa">Show Full Workout</a>
  <div class="collapse" id="fullworkoutsadsasa">
    <div class="col-xs-12 col-sm-3"><p>load</p>
    </div><div class="col-xs-12 col-sm-3"><p>this</p></div>
    <div class="col-xs-12 col-sm-3"><p>2 set</p></div>
    <div class="col-xs-12 col-sm-3"><p>3 4</p></div></div><p><span class="label label-warning">load</span>
  &nbsp;</p><form action="/trackworkout/post/sadsasa" method="post"><button class="btn btn-primary btn-md pull-right" type="submit">Finish workout!</button></form></div>

